    


header{
background: lightgreen;
}

nav li{
display: inline; 
}
    p{

      text-align: center;
    }
    h2{

      color: darkseagreen;text-align: center;
}
strong{
      color: darkseagreen;
    }
